@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.container {
	background-color: black;
	color: white;
	width: 100%;
	height: fit-content;
	border-bottom: 1px solid white;
}

.main {
	display: flex;
        flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.head {
	font-weight: 600;
	font-size: 20px;
	font-family: 'Zen Dots', cursive;

}

.links {
	display: flex;
        flex-direction: row;
	gap: 3rem;
        align-items: center;
	cursor: pointer;   
}